
.App {
  display: flex;
  background-color: brown;
  width: 90vW;
  gap: 30px;
  padding: 30px;
  overflow: hidden;
}

.Container1{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  flex: 1;
  padding: 40px;
  background-color: rgb(233, 123, 224);
 
}

.Container2{
  display: flex;
  flex: .3;
  justify-content:space-evenly;
  background-color: rgb(206, 138, 138);
}